@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Kanit", sans-serif;
}



html, body {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    flex-direction: column;
    background-color: #f8f8f8;
    overflow-x: hidden;
    
}

.nav-bar {
    display: flex;
    background-color: brown;
    height: 5rem;
    width: 100%;
    position: relative;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 32px 20px;
}

.search {
    padding: .7rem;
    margin: 2rem;
    width: 35%;
    border-radius: 30px;
}

.btn-search {
    padding: .8rem;
    min-width: 50px;
    margin-left: 8px;
    cursor: pointer;
    border-radius: 4px;
}

.teste {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    gap: 1rem;
}

.recipe-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: brown;
    color: rgb(248, 248, 248);
    border: 3px solid black ;
    text-decoration-line: none;
    max-width: 15rem;
    max-height: 25vh;
    padding: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}



a > img {
    margin: 10px;
    width: 70%;
}

a > h3 {
    line-height: 1.2; /* Ajuste a altura da linha */
    max-height: 2.4em; /* Ajuste conforme necessário */
    min-height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%; /* Garanta que o h3 ocupe toda a largura do contêiner */
    text-align: center;
}

.btn-link {
    display: flex;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: rgb(236, 150, 37);
    font-family: "Kanit", sans-serif;
}

.logo{
    display: flex;
    justify-content: flex-start;
    justify-self: center;
    height: 80%;
}

.container-title { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}

.container-recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    gap: 1rem;
}

.hide {
    display: none;
}

.title-carrossel{
    display: flex;
    margin: 2rem;
}

.carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 800px;
    height: 30rem;
    margin: 2rem;
    border-radius: 10px;
}

.container-img {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(1200px);
}

.img {
    object-fit: cover;
    height: 30rem;
    width: 800px;
}

footer {
    background-color: brown;
    display: flex;
    width: 100%;
    height: 8rem;
}

.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.social-links {
    display: flex;
    flex-direction: row;
    color: black;
    text-decoration: none;
    background-color: brown;
    border: none;
    margin: 0;
    padding: 0;
}

.in {
    height: 30px;
    width: 30px;
}

@media (max-width: 785px) {

    body {
        width: 100%;
    }

    .carrossel {
        display: none;
    }
    .container-img {
        display: none;
    }
}





